<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.CourseMapper">
    <!-- 根据课程id查询课程 -->
    <select id="getCourseByCourseId" parameterType="java.lang.String" resultType="org.example.entity.Course">
        select * from courses where course_id=#{course_id} and course_check = 1
    </select>
    <!-- 推荐课程 -->
    <select id="getRecommendCourse" parameterType="java.lang.Integer" resultType="org.example.entity.Course">
        select * from courses where course_check = 1 order by rand() limit #{num}
    </select>
    <!-- 根据课程状态（热门/最新）查询课程 -->
    <select id="getCourseByStatus" parameterType="java.lang.Integer" resultType="org.example.entity.Course">
        select * from courses where course_status=#{course_status} and course_check = 1
    </select>
    <!-- 根据课程类型id查询课程 -->
    <select id="getCourseByClassId" parameterType="java.lang.String" resultType="org.example.entity.Course">
        select * from courses where class_id=#{class_id} and course_check = 1
    </select>
    <!-- 根据课程id查询课程章节 -->
    <select id="getChapterByCourseId" parameterType="java.lang.String" resultType="org.example.entity.Chapter">
        select * from chapters where course_id=#{course_id}
    </select>
    <!-- 根据章节id查询课程小节 -->
    <select id="getBarByChapterId" parameterType="java.lang.String" resultType="org.example.entity.Bar">
        select * from bars where chapter_id=#{chapter_id}
    </select>
    <!-- 插入一个课程 -->
    <insert id="insertCourse" parameterType="org.example.entity.Course">
        insert into courses(course_id,class_id,teach_id,course_status,course_fee,course_name,course_brief,subscribe_num,course_cover,course_check) values (#{course_id},#{class_id},#{teach_id},#{course_status},#{course_fee},#{course_name},#{course_brief},#{subscribe_num},#{course_cover},#{course_check})
    </insert>
    <!-- 插入一个课程章节 -->
    <insert id="insertChapter" parameterType="org.example.entity.Chapter">
        insert into chapters(chapter_id,course_id,chapter_order,chapter_name) values (#{chapter_id},#{course_id},#{chapter_order},#{chapter_name})
    </insert>
    <!-- 插入一个课程小节 -->
    <insert id="insertBar" parameterType="org.example.entity.Bar">
        insert into bars(bar_id,chapter_id,bar_order,bar_name,bar_url) values (#{bar_id},#{chapter_id},#{bar_order},#{bar_name},#{bar_url})
    </insert>
    <!-- 更新一个课程 -->
    <update id="updateCourseSubNum" parameterType="org.example.entity.Course">
        update courses set subscribe_num=#{subscribe_num} where course_id=#{course_id}
    </update>
    <!-- 插入一个课程领域 -->
    <insert id="insertCourseField" parameterType="org.example.entity.CField">
        insert into fields(field_id,field_name) values (#{field_id},#{field_name})
    </insert>
    <!-- 查询课程领域 -->
    <select id="queryCourseField" resultType="org.example.entity.CField">
        select * from fields
    </select>
    <!-- 查询课程分类 -->
    <select id="queryCourseClassAll" resultType="org.example.entity.CClass">
        select * from classes
    </select>
    <!-- 查询课程 -->
    <select id="queryCourseAll" resultType="org.example.entity.Course">
        select * from courses
    </select>
    <!-- 查询课程 -->
    <select id="queryCourseById" parameterType="java.lang.String" resultType="org.example.entity.Course">
        select * from courses where course_id=#{course_id}
    </select>
    <!-- 根据领域id查询课程领域 -->
    <select id="queryCourseFieldById" parameterType="java.lang.String" resultType="org.example.entity.CField">
        select * from fields where field_id=#{field_id}
    </select>
    <!-- 插入一个课程类型 -->
    <insert id="insertCourseClass" parameterType="org.example.entity.CClass">
        insert into classes(class_id,field_id,class_name,class_status) values (#{class_id},#{field_id},#{class_name},#{class_status})
    </insert>
    <!-- 根据领域id查询课程类型-->
    <select id="queryCourseClass" parameterType="java.lang.String" resultType="org.example.entity.CClass">
        select * from classes where field_id = #{field_id}
    </select>
    <!-- 根据课程类型名称查询课程类型 -->
    <select id="queryClassByClassName" parameterType="java.lang.String" resultType="org.example.entity.CClass">
        select * from classes where class_name like "%"#{class_name}"%"
    </select>
    <!-- 根据课程类型id查询课程类型 -->
    <select id="queryClassByClassId" parameterType="java.lang.String" resultType="org.example.entity.CClass">
        select * from classes where class_id=#{class_id}
    </select>
    <!-- 根据状态(热门/非热门)查询课程类型-->
    <select id="queryCClassByStatus" parameterType="java.lang.Integer" resultType="org.example.entity.CClass">
        select * from classes where class_status = #{class_status}
    </select>
    <!-- 查询所有章节 -->
    <select id="queryChapterAll" resultType="org.example.entity.Chapter">
        select * from chapters
    </select>
    <!-- 查询所有小节 -->
    <select id="queryBarAll" resultType="org.example.entity.Bar">
        select * from bars
    </select>
</mapper>