<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.OrderMapper">
    <!-- 插入一个订单信息 -->
    <insert id="insertOrder" parameterType="org.example.entity.Order">
        insert into orders(order_id,order_title,order_fee,create_time,pay_time,pay_status) values (#{order_id},#{order_title},#{order_fee},#{create_time},#{pay_time},#{pay_status})
    </insert>
    <!-- 根据用户id查询订单信息 -->
    <select id="queryOrder" parameterType="java.lang.String" resultType="org.example.entity.Order">
        select * from orders where order_id=#{order_id}
    </select>
    <!-- 删除一个订单信息 -->
    <delete id="cancelOrder" parameterType="java.lang.String">
        delete from orders where order_id = #{order_id}
    </delete>
</mapper>