<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ResourceMapper">
    <!-- 插入一个轮播图 -->
    <insert id="insertSlider" parameterType="org.example.entity.Slider">
        insert into sliders(slider_id,slider_url) values (#{slider_id},#{slider_url})
    </insert>
    <!-- 插入一个头像 -->
    <insert id="insertAvatar" parameterType="org.example.entity.Slider">
        insert into avatars(avatar_id,avatar_url) values (#{avatar_id},#{avatar_url})
    </insert>
    <!-- 查询轮播图 -->
    <select id="getSlider" parameterType="java.lang.Integer" resultType="org.example.entity.Slider">
        select * from sliders order by slider_id asc limit #{start},#{end}
    </select>
    <!-- 查询所有的轮播图 -->
    <select id="getSliderAll" resultType="org.example.entity.Slider">
        select * from sliders
    </select>
    <!-- 查询所有头像 -->
    <select id="getAvatarAll" resultType="org.example.entity.Avatar">
        select * from avatars
    </select>
</mapper>